* {
    box-sizing: border-box;
  }
  h1{
    color:white;
    /* display: inline-block; */
    /* vertical-align: top; */
    float: left;
    width: 75%;
    padding: .5rem;
  }
  .header__image {
    display: inline-block;
      width: 60px;
      margin: .5rem;
      float: left;
  }
  header{
      background-color: #2980B9;
  }
  img{
      max-width: 100%;
  }
  nav{
    background-color: #3498DB;
    border-top: 2px ECF0F1 solid;
    border-bottom: 2px ECF0F1 solid;
      clear: both;
      padding: .15rem
  }
nav li{
    list-style: none;
    display: inline-block;
}

nav a{
    text-decoration: none;
    color:white;
}
